@import "tailwindcss";
@import "tw-animate-css";

.text-6xl {
   @apply text-3xl md:text-4xl lg:text-6xl
}

.text-large {
  @apply text-lg
}
.text-base {
  @apply text-xs md:text-sm lg:text-base xl:text-xl font-normal text-white
}


.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}



:root {
  --max-width: 1440px; /* Full width */
  --section-width: 1280px; /* Section width */
  --bg-color: #121212; /* Background color */
}

.container {
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
}

.section {
  max-width: var(--section-width);
  width: 100%;
  margin: 0 auto;
  /* padding: 1rem; Adjust padding as needed */
}

body {
  background-color: var(--bg-color);
}


.bg-signup-gradient {
  background: linear-gradient(90deg, #1BFFF3 0%, #AEFFAE 100%);
 
}
.heading-grediant {
  background: linear-gradient(to right, #AEFFAE, #1BFFF3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Import Helvetica Neue fonts */
@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeueRoman.otf') format('opentype');
  font-weight: 400; /* Regular */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeueItalic.ttf') format('truetype');
  font-weight: 400; /* Regular */
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeueMedium.otf') format('opentype');
  font-weight: 500; /* Medium */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeueMediumItalic.otf') format('opentype');
  font-weight: 500; /* Medium */
  font-style: italic;
  font-display: swap;
}

/* Add other font weights as needed */

/* Apply Helvetica Neue globally with default font weight */
body {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 200; /* Set default font weight to Regular (400) */
}



@layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-marquee {
    animation: marquee 15s linear infinite;
  }

  .paused {
    animation-play-state: paused !important;
  }
}

